@model EmakinaTask.Models.BoardGame
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm()){
        @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Create game</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.GameName)
            <div class="col-md-10">
                @Html.EditorFor(model => model.GameName, new
                {
                    htmlAttributes =
                   new { @class = "form-control" }
                })
                @Html.ValidationMessageFor(model => model.GameName, "",
                   new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MinPlayers )
            <div class="col-md-10">
                @Html.EditorFor(model => model.MinPlayers, new
                {
                    htmlAttributes =
                   new { @class = "form-control" }
                })
                @Html.ValidationMessageFor(model => model.MinPlayers, "",
                   new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MaxPlayers)
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaxPlayers, new
                {
                    htmlAttributes =
                   new { @class = "form-control" }
                })
                @Html.ValidationMessageFor(model => model.MaxPlayers, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MinAge)
            <div class="col-md-10">
                @Html.EditorFor(model => model.MinAge, new
                {
                    htmlAttributes =
                   new { @class = "form-control" }
                })
                @Html.ValidationMessageFor(model => model.MinAge, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
        }
</body>
</html>
